.talkBox
  height 50px
  width 50px
  border-radius 25px
  display flex
  justify-content center
  align-items center
  background-color #ffffff
  box-shadow 2px 2px #cccccc

  img
    width 30px
    height 30px